<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDmrShxv0r-kUBDpA1bC_vjcmRwv_6jGE</string>
	<key>GCM_SENDER_ID</key>
	<string>1085340446333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mia.gatekeeper</string>
	<key>PROJECT_ID</key>
	<string>smart-ga</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-ga.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085340446333:ios:6ac309e5ea8c1c52180b14</string>
</dict>
</plist>